
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    /* height: 100vh; */
    height: 698px;
    width: 1440px;
}

/* nav styles */
.navbar{
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
    align-items: center;
    
    
}
.nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}
.btn{
    color: #FFFFFF;
    background-color: #4E47FF;
    padding:12px 36px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    
}
.btn:hover{
background-color: #ffc107;
color:black ;
transform: scale(1.05);
}
/* banner styles */
.banner{
    text-align: center;
    margin: 158px 117px ;
    
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
 


  
 