
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    height: 698px;
}

/* nav styles */
.navbar{
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
    align-items: center;
    
    
}
.nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}
.btn{
    color: #FFFFFF;
    background-color: #4E47FF;
    padding:12px 36px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    
}
.btn:hover{
background-color: #ffc107;
color:black ;
transform: scale(1.05);
}
/* banner styles */
.banner{
    text-align: center;
    margin: 158px 117px ;
    
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
/* Action styles on main */
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  margin: 116px 159px 116px 141px;
}
.action-left {
  padding: 62px 220px 62px 0px;

}
.action-left p{
    color: #2524327b;
}
.action-right img {
  max-width: 100%;
  border-radius: 48px;
}
/* Productive Users Stats Section styles*/
.stats {
  background-color: #dfe3f5;
  padding: 60px 20px;
  text-align: center;
  border-radius:24px;
  margin: 0px 159px 0px 141px;
}
.stats h2 {
  margin-bottom: 40px;
}
.stat-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.stat-grid div h3 {
  font-size: 2em;
  color: #3b5bfc;
}
.stat-grid div p {
  font-size: 1em;
  color: #00000079;
}
/* Users Feedback Section  styles*/
.test-container {
  padding: 40px 20px;
  text-align: center;
  margin: 150px;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.cards-container p{
    font-size:small;
    color: #1E1E1E;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.085);
  padding: 20px;
  max-width: 300px;
  text-align: left;
}

.stars img {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

.card h3 {
  margin: 16px 0 8px;
  font-size: 1.1rem;
}

.card p {
  font-size: 0.95rem;
  margin-bottom: 16px;
  color: #555;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
strong{
    color: #757575;
    font-size: small;
}
.card small{
    color: #B3B3B3;
    font-size: small;
} 
/* Focus Better Section with hero styles */
.hero {
  text-align: center;
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 1.1em;
  color: #00000078;
  margin-bottom: 20px;
}
.hero-image {
  margin-top: 20px;

}

.hero-image img {
  height: 360px;
  width: 840px;
  border-radius: 48px;
}
/* Contact Section */
.contact {
  display: flex;
  justify-content: space-between;
  margin: 90px 150px;
  background: #fff;
  flex-wrap: wrap;
}
.contact-left {
  margin: 90px 150px 14px 150px ;

}

.contact-left h2 {
  font-size: 60px;
  font-weight: bold;
  height: 230px;
  width: 528px;
}
.contact-right form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  
}
.contact-right label {
  font-weight: bold;
  margin-top: 19px;
  font-size: 14px;
  gap:10;
  margin-bottom: 5px;
}
 
.contact-right input,
.contact-right textarea {
  padding: 32px 20px;
  margin-top: 19px;
  gap: 10;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}
.contact-right textarea {
  min-height: 80px;
  resize: vertical;
}
.contact-right button {
  margin-top: 20px;
}
 